{{#each ideas}}

    <div class="card card-body mb-2 col-4">
        <h3>{{title}}</h3>
        <p>{{details}}</p>
        <div class="btn-group">
            <a href="/ideas/edit/{{id}}" class="btn btn-dark">Edit</a>
            <form action="/ideas/delete/{{id}}/?_method=DELETE" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <!--<a href="/ideas/delete/{{id}}" >Delete</a>-->
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>

{{else}}
    <p>No video jotting</p>
{{/each}}